/*
    Document   : custom
    Created on : Dec 23, 2010, 5:47:16 PM
    Author     : danjoo
    Description:
    Purpose of the stylesheet follows.
*/

/*@font-face {
	font-family: cool_font;
	src: url('cool_font.ttf');
}*/

.header {
  text-align: center;
  font-family: "Century Gothic", "sans-serif";
  text-decoration: none;
  margin-bottom: 20px;
}

.header a {
  color: black;
  text-decoration: none;
}

.header a:hover {
  /* color: #069; */
  text-decoration: none;
}

.header a:visited {
  /* color: #069; */
  text-decoration: none;
}

.container {
  text-align: center;
  font-family: "Century Gothic", "sans-serif";
}

.footer {
  text-align: center;
  margin-top: 8ex;
  margin-left: auto;
  margin-right: auto;
  font-family: "Century Gothic", "sans-serif";
  color: #888888;
  font-size: 50%;
}

body {
  background: #fff;
}

.contact, .contact img{
  font-size: 12px;
  font-family: "Century Gothic", "sans-serif";
  text-align: center;
  vertical-align:text-bottom;
}

.signature {
  font-size: 65%;
  font-family: "Century Gothic", "sans-serif";
  text-align: center;
  vertical-align:text-bottom;
}


/* Navigation Links */

.mainmenu {
  float: none;
  text-align: center;
  font-family: "Century Gothic", "sans-serif";
  background-color: white;
  /* padding: 0 0.7em; */
  border-style: none;
  white-space: nowrap;
}

.mainmenu a {
  color: black;
  text-decoration: none;
}

.mainmenu a:hover {
  /* color: #069; */
  text-decoration: underline;
}

.mainmenu a:visited {
  /* color: #069; */
  text-decoration: none;
}



