/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    Document   : custom
    Created on : Dec 23, 2010, 5:47:16 PM
    Author     : danjoo
    Description:
    Purpose of the stylesheet follows.
*/

/*@font-face {
	font-family: cool_font;
	src: url('cool_font.ttf');
}*/


.main {
  position:relative;
  width:1024px;
  height:768px;
  text-align: center;
  font-family: "Century Gothic", "sans-serif";
  margin:0 auto;
}

.header {
  position:relative;
  overflow:hidden;
  width:1024px;
  height:50px;
}

.header a{
  width:100%;
  position:absolute;
  bottom:0;
}

.topnav {
  position:relative;
  overflow:hidden;
  width:1024px;
  height:62px;
  display: table-cell;
  vertical-align: middle;
}

.container {
  position:relative;
  overflow:hidden;
  height:590px; 
}

.center_container{
  position:relative;
  overflow:hidden;
  height:496px;
}

.left_container{
  position:relative;
  float:left;
  overflow:hidden;
  width:140px;
}

.window_container{
  position:relative;
	float:left;
  overflow:hidden;
  width:745px;
}


.window_container{
  position:relative;
	float:left;
  overflow:hidden;
  width:745px;
}

.contact_container{
  position:relative;
  overflow:hidden;
  width:1024px;
  height:496px;
  display: table-cell;
  vertical-align: middle;
}

.bottomnav {
  position:relative;
  overflow:hidden;
  margin-bottom: 7px;
  width:1024px;
  height:94px;
  display: table-cell;
  vertical-align: middle;
}

.footer {
  position:relative;
  overflow:hidden;
  margin-top: 5px;
  height:64px;
  font-family: "Century Gothic", "sans-serif";
  color: #888888;
  font-size: 65%;
}


/* Links */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: black;
}

/* splash */

.splash {
  text-align: center;
  /* vertical-align:middle;*/
  
}

/* slider */


section .table {
  text-align:center;
  border-width: 1px;
}

#loopedslider {
  position:relative;
  margin:0 auto;
  width:1024px;
  clear:both;
}

.slide_container {
  position:relative;
  overflow:hidden;
  height:496px;
}

.slides {
  position:absolute;
  top:0;
  left:0;
}
.slides > div {
  position:absolute;
  width:745px;
  top:0;
  display:none;
}


/* pagination */


.pagination_container {
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
	word-spacing: 3px;
  font-family: "Century Gothic", "sans-serif";
}

ul.pagination {
  list-style:none;
  padding:0;
  margin:0;
  display: inline;
}
ul.pagination li  {
  display: inline;
}
ul.pagination li a {
  vertical-align:text-top;
}
ul.pagination li.active a {
  color: #888888;
  text-decoration:underline;
}
