<div class="follow_facebook_container">
  <%= link_to (image_tag "information/follow_facebook.png"),
                          "http://www.facebook.com/pages/Haerfest/147992195289401",
                          :target => "_blank"
                        %>
</div>

<div class="follow_twitter_container">
  <%= link_to (image_tag "information/follow_twitter.jpg"),
                          "http://www.twitter.com/haerfest",
                          :target => "_blank"
                        %>
</div>