<br />

<div class="verbage">

Haerfest follows a reducible aesthetic, aiming for an understated and urban sensibility. <p />
“Familiar yet unexpected,” is always an underlying direction taken when designing. <p />

</div>

<p />

<div class="bottomnav"">
  <div class="stick_to_bottom">
     <b>About</b> /
     <%= link_to 'Stockists', stockists_path %> /
    <%= link_to 'Inspiration', inspiration_path %>
  </div>
</div>
