<br />

<p>This is the collections page for the brand
  <a href="http://haerfest.us/about">HAERFEST</a>
</p>

<%= link_to "navy slate",
            styles_path(:family => "navy_slate") %>

<%#= link_to "navy slate",
            :controller => "pages",
            :action => "styles",
            :family => "navy_slate" %>