<div class="contact">

  <%= link_to (image_tag "contact/contact_info_email.png"), "mailto:info@haerfest.us"  %>
  <%= link_to (image_tag "contact/contact_sales_email.png"), "mailto:sales@haerfest.us"  %>
  
</div>
