<div class="wrapper">


    <div class ="center_container">
      <div class ="contact_container">

      <%= link_to (image_tag "contact/contact_info_email.png"), "mailto:info@haerfest.us"  %><p/>
      <%= link_to (image_tag "contact/contact_sales_email.png"), "mailto:sales@haerfest.us"  %>

      </div>
    </div>

    <div class ="bottomnav"></div>

</div> <!-- end wrapper -->


