<br />

<div class="verbage">


</div>

<p />


<div class="bottomnav"">
  <div class="stick_to_bottom">
    <%= link_to 'About', about_path %> /
    <%= link_to 'Stockists', stockists_path %> /
    <b>Inspiration</b>
  </div>
</div>
