<div>
<% @family.each do |key1, value1| %>
  <% value1.each do |value2| %>
    <div id="<%= key1.to_s %>" >
    <% if value1.index("#{value2}") == 0 %>
      <%= link_to (image_tag "collections/#{params[:family]}/#{key1.to_s}/#{value2.to_s}"),
                   "images/collections/#{params[:family]}/#{key1.to_s}/#{value2.to_s}" %>
    <% else %>
      <% "<a href=\"images/collections/#{params[:family]}/#{key1.to_s}/#{value2.to_s}""  ></a>" %>
    <% end %>
    </div>
  <% end %>
<% end %>
</div>

<div class="bottomnav">
  <div class="stick_to_bottom">
    <% @family.each_with_index() do |(key, value), index| %>
      <% if index == @family.length-1 %>
        <%= key.to_s  %>  
      <% else %>
        <%= key.to_s  %> /
      <% end %>
    <% end %>
  </div>
</div>