<!-- image variables -->
<% logo = image_tag("logo.png", :alt => "Home", :class => "round") %>

<!-- home page -->
<%#= link_to logo, home_path %>
<h1><%= link_to_unless_current logo, home_path %></h1>
