<%# image variables %>
<% logo = image_tag("layout/layout_logo.png", :alt => "Home") %>
<%# favicon = image_tag("layout/haerfest_field.ico", :alt => "Haerfest Field") %>

<!-- home page -->
<link rel="haerfest icon" href="images/layout/haerfest_field.ico" type="image/x-icon" />

<div class="header_inner">
    <%= link_to_unless_current logo, home_path %>
</div>


